* {
    padding: 10;
    margin: 8;
    box-sizing: content-box
} 
body {
     display: flex;
    justify-content: center;
    
    background-color: black;
}
img {
    max-width: 100%;
    height: auto;
}